*{
    margin: 0;
    padding:0;
}

nav{
    background-color: rgba(88, 53, 4, 0.79);
    color: rgb(211, 177, 149);
    height: 70px;
    font-size: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
}